<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="description" content="Youtube動画検索ツール。日付指定、チャンネル指定、新しい順などで検索可能。">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/topPage.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <h1><%- title %></h1>    
    <dev class="description">
      <h2><%- description %></ph2>
    </dev>
    <dev>
      <!-- 検索条件の入力 -->
      <form method="post" action="/">
        <div class="searchArea">
          <table>
            <tr>
              <td>検索テキスト</td>
              <td><input type="text" name="qtext" value="<%= condition.qtext %>"></td>
            </tr>
            <tr>
              <td>チャネル</td>
              <td>
                <input id="channelId" type="text" name="channelId" style="display:inline-block" value="<%= condition.channelId %>">
                <button type="button" style="display:inline-block" onclick="openNewWindow();">
                    チャネル検索
                </button>
                <script>
                  function openNewWindow() {
                    let subWindow = window.open(
                      '/channelSearch', //移動先
                      '_blank'  //新規ウィンドウで開く
                    );

                    return false;
                  }

                  function onCallBack(data) {
                    if (data != null) {
                      $('#channelId').val(data);
                    }
                  }
                </script>
              </td>
            </tr>
            <tr>
              <td>表示数</td>
              <td><input type="text" name="maxResults" value="<%= condition.maxResults %>" min="0" max="300"></td>
            </tr>
            <tr>
              <td>ソート順</td>
              <td>
                <input type="radio" name="order" id="relevanceRadio" value="relevance" <%= condition.order == 'relevance' ? 'checked' : '' %>><label for="relevanceRadio">関連度</label>
                <input type="radio" name="order" id="dateRadio" value="date" ><label for="dateRadio" <%= condition.order == 'date' ? 'checked' : '' %>>投稿日</label>
                <input type="radio" name="order" id="ratingRadio" value="rating"  <%= condition.order == 'rating' ? 'checked' : '' %> ><label for="ratingRadio">レート</label>
                <input type="radio" name="order" id="titleRadio" value="title" <%= condition.order == 'title' ? 'checked' : '' %> ><label for="titleRadio">タイトル</label>
                <input type="radio" name="order" id="videoCountRadio" value="videoCount" <%= condition.order == 'videoCount' ? 'checked' : '' %> ><label for="videoCountRadio">アップロード動画数</label>
              </td>
            </tr>
            <tr>
              <td>投稿日時</td>
              <td>
                <input type="date" name="startDate" value="<%= condition.startDate %>"> - 
                <input type="date" name="endDate" value="<%= condition.endDate %>">
              </td>
            </tr>
            <tr>
              <td><input type="submit" value="検索" ></td>
            </tr>
          </table>
        </div>
      </form>
      
      <!-- 検索結果の表示 -->
      <% if (result != null && result.data.pageInfo.totalResults != 0) { %>
        <div class="resultArea">
          <p>検索結果：<%= result.data.items.length %> 件</p>
          <table id="resultTable">
            <thead>
              <tr>            
                <th>チャネル</th>
                <th>サムネイル</th>
                <th>タイトル</th>
                <th>説明</th>
                <th>動画ID</th>
                <th>作成日時</th>
                <th>配信ステータス</th>
              </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < result.data.items.length; i++) { %>
              <% var obj = result.data.items[i]; %>
              <tr>            
                <td><a href="https://www.youtube.com/channel/<%= obj.snippet.channelId %>" target="_blank"><%= obj.snippet.channelTitle %>"</a></td>
                <td><image src=<%= obj.snippet.thumbnails.default.url %>></image></td>
                <td><a href="https://www.youtube.com/watch?v=<%= obj.id.videoId %>" target="_blank"><%= obj.snippet.title %></a></td>
                <td><%= obj.snippet.description %></td>
                <td><%= obj.id.videoId %></td>
                <td><%= obj.snippet.publishedAt %></td>
                <td><%= obj.snippet.liveBroadcastContent %></td>
              </tr>
            <% } %>
            </tbody>
          </table>
          <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
          <script type="text/javascript" src="javascripts/DataTables.js"></script>
        </div>
      <% } %>
    </dev>
  </body>
</html>
